# Ignore for Mac
.DS_Store

*.bak
*.orig
tmp/
trash/
attic/

__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.egg-info/
*.egg

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

.env
.venv
env/
venv/

.ipynb_checkpoints
profile_default/
ipython_config.py

/site
.mypy_cache/
.ruff_cache/
.pyre/
cython_debug/
